<div class="" *ngIf="show; else loading ">
<!--banner-->
<section id="banner" class="banner">
  <div class="bg-color">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{data.secciones.home.logo}}" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a (click)="scrollToElement(home)">{{data.secciones.home.navbar}}</a></li>
              <li class=""><a (click)="scrollToElement(servicios)">{{data.secciones.servicios.navbar}}</a></li>
              <li class=""><a (click)="scrollToElement(about)">{{data.secciones.about.navbar}}</a></li>
              <li class=""><a (click)="scrollToElement(contact)">{{data.secciones.contacto.navbar}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div #home [ngStyle]="{'background': 'url(data.secciones.home.imagen) no-repeat fixed'}"class="container">
      <div class="row">
        <div class="banner-info">
          <div class="banner-logo text-center">
            <img src="{{data.secciones.home.logo}}" class="img-responsive">
          </div>
          <div class="banner-text text-center">
            <h1 class="white">{{data.secciones.home.titulo}}</h1>
            <p>{{data.secciones.home.subtitulo}}</p>
          
          </div>
          <div class="overlay-detail text-center">
            <a href="#service"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ banner-->
<!--service-->
<section id="service" #servicios class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h2 class="ser-title">{{data.secciones.servicios.titulo}}</h2>
        <hr class="botm-line">
        <p>{{data.secciones.servicios.descripcion}}</p>
      </div>
      <div *ngFor="let landing of data.secciones.servicios.servicio" 
      class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <a href="#"><img src="{{landing.imagen}}" alt="" /></a>
          </div>
          <div class="icon-info">
            <h4>{{landing.titulo}}</h4>
            <p>{{landing.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ service-->
<!--cta-->
<section id="cta-1" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="schedule-tab">
        <div *ngFor="let landing of data.secciones.casos"
        class="col-md-4 col-sm-4 bor-left">
          <div class="mt-boxy-color"></div>
          <div class="medi-info">
            <h3>{{landing.titulo}}</h3>
            <p>{{landing.descripcion}}</p>
          <!--  <a href="#" class="medi-info-btn">READ MORE</a>-->
          </div>
        </div>


        <div class="col-md-4 col-sm-4 mt-boxy-3">
          <div class="mt-boxy-color"></div>
          <div class="time-info">
            <h3>{{data.secciones.horario.titulo}}</h3>
            <table style="margin: 8px 0px 0px;" border="1">
              <tbody>
                <tr *ngFor="let landing of data.secciones.horario.hora">
                  <td>{{landing.dia}}</td>
                  <td>{{landing.dehora}} - {{landing.hastahora}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<!--cta-->
<!--about-->
<section id="about" #about class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="section-title">
          <h2 class="head-title lg-line">{{data.secciones.about.titulo}}</h2>
          <hr class="botm-line">
          <p class="sec-para">{{data.secciones.about.descripcion}}</p>
         <!-- <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>-->
        </div>
      </div>
      <div *ngFor="let landing of data.secciones.about.caracteristicas"
      class="col-md-9 col-sm-8 col-xs-12">
        <div style="visibility: visible;" class="col-sm-9 more-features-box">
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>{{landing.titulo}}</h3>
              <p>{{landing.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ about-->
<!--cta 2-->
<section id="cta-2" class="section-padding">
  <div class="container">
    <div class=" row">
      <div class="col-md-2"></div>
      <div class="text-right-md col-md-4 col-sm-4">
        <h2 class="section-title white lg-line">«{{data.secciones.banner.titulo}}»</h2>
      </div>
      <div class="col-md-4 col-sm-5">
        {{data.secciones.banner.descripcion}}
        <p class="text-right text-primary"><i>{{data.secciones.banner.autor}}</i></p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<!--cta-->
<!--contact-->
<section id="contact" #contact class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">{{data.secciones.contacto.titulo}}</h2>
        <hr class="botm-line">
      </div>
    
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>{{data.secciones.contacto.lugar}}</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>{{data.secciones.contacto.email}}</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>{{data.secciones.contacto.telefono}}</p>
        </div>
    </div>
  </div>
</section>
<!--/ contact-->
<!--footer-->
<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">{{data.secciones.sociales.titulo}}</h4>
          </div>
          <div class="info-sec">
            <ul class="social-icon">
                <a href="{{data.secciones.sociales.twitter}}"><li class="bgdark-blue"><i class="fa fa-facebook"></i></li></a>
                  <a href="{{data.secciones.sociales.twitter}}"><li class="bglight-blue"><i class="fa fa-twitter"></i></li></a>
                  <a href="{{data.secciones.sociales.instagram}}"><li class="bgpink"><i class="fa fa-instagram"></i></li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          © Copyright Medilab Theme. All Rights Reserved
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medilab
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/ footer-->
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>